<h1>Contact us</h1>
<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf="success"> Your form is valid!</h5>
  <label>
    Name:
    <input type="text" formControlName="name">
  </label>
  
  <label>
    Message:
    <textarea formControlName="message"></textarea>
  </label>
  
  <input type="submit" value="Send message" class="cta">
</form>

<div *ngIf="submitted" class="results">
  <strong>Name: </strong>
  <span>{{ messageForm.controls.name.value }}</span>
  
  <strong>Message: </strong>
  <span>{{ messageForm.controls.message.value }}</span>
</div>